In [43]:
import pandas as pd
import numpy as np
import IPython.core.display as display #reference=> https://gist.github.com/ksomemo/d3d1a47baebcceeafef949895612ec92
import IPython.display 

N=16

nl=[]
summn=[]
for m in range(0,N):
    summ=[]
    nl.append(m)
    for n in range(0,N):
        r=(m+n)%N
        q=(m+n-r)//N
        summ.append((q,r))
        
    summn.append(summ)

prodmn=[]
for m in range(0,N):
    prodm=[]
    for n in range(0,N):
        r=(m*n)%N
        q=(m*n-r)//N
        prodm.append((q,r))
        
    prodmn.append(prodm)    

df=[pd.DataFrame(summn),pd.DataFrame(prodmn)]
IPython.display.display(df[0])
print("index: +")
IPython.display.display(df[1])
print("index: ×")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"(0, 0)","(0, 1)","(0, 2)","(0, 3)","(0, 4)","(0, 5)","(0, 6)","(0, 7)","(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)"
1,"(0, 1)","(0, 2)","(0, 3)","(0, 4)","(0, 5)","(0, 6)","(0, 7)","(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)"
2,"(0, 2)","(0, 3)","(0, 4)","(0, 5)","(0, 6)","(0, 7)","(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)"
3,"(0, 3)","(0, 4)","(0, 5)","(0, 6)","(0, 7)","(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)"
4,"(0, 4)","(0, 5)","(0, 6)","(0, 7)","(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)"
5,"(0, 5)","(0, 6)","(0, 7)","(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)"
6,"(0, 6)","(0, 7)","(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)"
7,"(0, 7)","(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)","(1, 6)"
8,"(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)","(1, 6)","(1, 7)"
9,"(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)","(1, 6)","(1, 7)","(1, 8)"
10,"(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)","(1, 6)","(1, 7)","(1, 8)","(1, 9)"
11,"(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)","(1, 6)","(1, 7)","(1, 8)","(1, 9)","(1, 10)"
12,"(0, 12)","(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)","(1, 6)","(1, 7)","(1, 8)","(1, 9)","(1, 10)","(1, 11)"
13,"(0, 13)","(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)","(1, 6)","(1, 7)","(1, 8)","(1, 9)","(1, 10)","(1, 11)","(1, 12)"
14,"(0, 14)","(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)","(1, 6)","(1, 7)","(1, 8)","(1, 9)","(1, 10)","(1, 11)","(1, 12)","(1, 13)"
15,"(0, 15)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)","(1, 5)","(1, 6)","(1, 7)","(1, 8)","(1, 9)","(1, 10)","(1, 11)","(1, 12)","(1, 13)","(1, 14)"

index: +

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)","(0, 0)"
1,"(0, 0)","(0, 1)","(0, 2)","(0, 3)","(0, 4)","(0, 5)","(0, 6)","(0, 7)","(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(0, 13)","(0, 14)","(0, 15)"
2,"(0, 0)","(0, 2)","(0, 4)","(0, 6)","(0, 8)","(0, 10)","(0, 12)","(0, 14)","(1, 0)","(1, 2)","(1, 4)","(1, 6)","(1, 8)","(1, 10)","(1, 12)","(1, 14)"
3,"(0, 0)","(0, 3)","(0, 6)","(0, 9)","(0, 12)","(0, 15)","(1, 2)","(1, 5)","(1, 8)","(1, 11)","(1, 14)","(2, 1)","(2, 4)","(2, 7)","(2, 10)","(2, 13)"
4,"(0, 0)","(0, 4)","(0, 8)","(0, 12)","(1, 0)","(1, 4)","(1, 8)","(1, 12)","(2, 0)","(2, 4)","(2, 8)","(2, 12)","(3, 0)","(3, 4)","(3, 8)","(3, 12)"
5,"(0, 0)","(0, 5)","(0, 10)","(0, 15)","(1, 4)","(1, 9)","(1, 14)","(2, 3)","(2, 8)","(2, 13)","(3, 2)","(3, 7)","(3, 12)","(4, 1)","(4, 6)","(4, 11)"
6,"(0, 0)","(0, 6)","(0, 12)","(1, 2)","(1, 8)","(1, 14)","(2, 4)","(2, 10)","(3, 0)","(3, 6)","(3, 12)","(4, 2)","(4, 8)","(4, 14)","(5, 4)","(5, 10)"
7,"(0, 0)","(0, 7)","(0, 14)","(1, 5)","(1, 12)","(2, 3)","(2, 10)","(3, 1)","(3, 8)","(3, 15)","(4, 6)","(4, 13)","(5, 4)","(5, 11)","(6, 2)","(6, 9)"
8,"(0, 0)","(0, 8)","(1, 0)","(1, 8)","(2, 0)","(2, 8)","(3, 0)","(3, 8)","(4, 0)","(4, 8)","(5, 0)","(5, 8)","(6, 0)","(6, 8)","(7, 0)","(7, 8)"
9,"(0, 0)","(0, 9)","(1, 2)","(1, 11)","(2, 4)","(2, 13)","(3, 6)","(3, 15)","(4, 8)","(5, 1)","(5, 10)","(6, 3)","(6, 12)","(7, 5)","(7, 14)","(8, 7)"
10,"(0, 0)","(0, 10)","(1, 4)","(1, 14)","(2, 8)","(3, 2)","(3, 12)","(4, 6)","(5, 0)","(5, 10)","(6, 4)","(6, 14)","(7, 8)","(8, 2)","(8, 12)","(9, 6)"
11,"(0, 0)","(0, 11)","(1, 6)","(2, 1)","(2, 12)","(3, 7)","(4, 2)","(4, 13)","(5, 8)","(6, 3)","(6, 14)","(7, 9)","(8, 4)","(8, 15)","(9, 10)","(10, 5)"
12,"(0, 0)","(0, 12)","(1, 8)","(2, 4)","(3, 0)","(3, 12)","(4, 8)","(5, 4)","(6, 0)","(6, 12)","(7, 8)","(8, 4)","(9, 0)","(9, 12)","(10, 8)","(11, 4)"
13,"(0, 0)","(0, 13)","(1, 10)","(2, 7)","(3, 4)","(4, 1)","(4, 14)","(5, 11)","(6, 8)","(7, 5)","(8, 2)","(8, 15)","(9, 12)","(10, 9)","(11, 6)","(12, 3)"
14,"(0, 0)","(0, 14)","(1, 12)","(2, 10)","(3, 8)","(4, 6)","(5, 4)","(6, 2)","(7, 0)","(7, 14)","(8, 12)","(9, 10)","(10, 8)","(11, 6)","(12, 4)","(13, 2)"
15,"(0, 0)","(0, 15)","(1, 14)","(2, 13)","(3, 12)","(4, 11)","(5, 10)","(6, 9)","(7, 8)","(8, 7)","(9, 6)","(10, 5)","(11, 4)","(12, 3)","(13, 2)","(14, 1)"

index: ×